<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Switch Automation</title>
    <link href="../static/css/min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
            <img src="../static/img/Betfair-yellow.jpg" alt="betfair" height="50" width="100" align="left">
          <ul class="nav nav-pills pull-right">
            <form method="post" action="/logOut">
            <li role="presentation" class="active"><input type="submit" value="LogOut"/></li>
          </form>
        </ul>
        </nav>
      <div >
        <h1><center>Menu - Switch Automation</center></h1>
        <br>
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
          <h4><a href="/NewSwitchport">Configure a new switchport</a></h4>
          <p>Switchport Configs</p>
          <h4><a href="/ShowSwitchport">show interface configuration</a></h4>
          <p>Interface details</p>
          <h4><a href="/DisableSwitchport">Disabled interface</a></h4>
          <p>Shutdown the switchport</p>
        </div>
      </div>
      <footer align="center">
      <b> <p> Betfair 2016 &copy; <font size="2" align="RIGHT"> Contact: <a href="mailto:ruben.barbosa@blip.pt">ruben.barbosa@blip.pt</a></font></p></b>
      </footer>

    </div>
    </div>
  </body>
</html>
